{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles pendents de validació</title>
</head>
<body>
{% block content %}
    <h1>Articles pendents de validació</h1>

    {% if articles_alta or articles_mitjana or articles_baixa %}

        {% if articles_alta %}
            <h3>Prioritat: Alta</h3>
            {% for article in articles_alta %}
                <ul>
                    <h4><a href="/RedactorCap/validació/{{ article.slug }}">{{ article.title }}</a></h4>
                    {{ article.description }}
                </ul>
            {% endfor %}
        {% endif %}

        {% if articles_mitjana %}
            <h3>Prioritat: Mitjana</h3>
            {% for article in articles_mitjana %}
                    <ul>
                        <h4><a href="/RedactorCap/validació/{{ article.slug }}">{{ article.title }}</a></h4>
                        {{ article.description }}
                    </ul>
                {% endfor %}
        {% endif %}

        {% if articles_baixa %}
            <h3>Prioritat:Baixa</h3>
            {% for article in articles_baixa %}
                <ul>
                    <h4><a href="/RedactorCap/validació/{{ article.slug }}">{{ article.title }}</a></h4>
                    {{ article.description }}
                </ul>
            {% endfor %}
        {% endif %}

    {% else %}
        <p>No hi ha articles a validar.</p>
    {% endif %}

{% endblock %}
</body>
</html>