{% extends "base.html" %}

{% block navbar %}
    <li><a href="{% url 'account-redirect' %}" class="">Home</a></li>
    <li><a href="{% url 'Home_News' %}">News</a></li>
    <li><a href="#">Contact with us</a></li>
    <li class="login">
        {% if user.is_authenticated %}
        <p>Benvingut: {{ user.username }} |
            <a class="link" href="{% url 'logout' %}">logout</a></p>
        {% else %}
        <p><a class="link" href="{% url 'login' %}">login</a></p>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <p>
    <h4>Prioritat: {{ new.priority }}</h4>
    <h1>{{ new.title }}</h1>
    <h4>{{ new.description }}</h4><br/>
    {{ new.body }}
    </p>


    <h3>Descargar l'article:</h3>

    <button type="button">Escollir imatges</button> Imatges asociades | </p>


    <h4>Introdueix els comentaris pel redactor:</h4>
    <form action="/RedactorCap/Comentat/" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="slug" value="{{ new.slug }}"/>
        <button type="submit">Enviar comentaris al redactor</button>
    </form>


    <form action="/RedactorCap/Acceptat/" method="post"> {% csrf_token %}
        <input type="hidden" name="slug" value={{ new.slug }}/>
        <input type="submit" value="Acceptar">
    </form>

    <form action="/RedactorCap/Rebutjat/" method="post"> {% csrf_token %}
        <input type="hidden" name="slug" value={{ new.slug }}/>
        <input type="submit" value="Rebutjar">
    </form>


    <a href="/AFE/new/{{ new.slug }}">
        <button type="button">Reassignar</button>
    </a>


{% endblock %}
{% block sidebar %}
    <li><a href="{% url 'AFE' %}">Noves notícies</a></li>
    <li><a href="{% url 'Articles' %}" class="current">Article a revisar</a></li>
{% endblock %}