{% extends "base.html" %}

{% block navbar %}
    <li><a href="{% url 'account-redirect' %}">El meu espai de treball</a></li>
    <li><a href="{% url 'Home_News' %}">Noticies</a></li>
    <li><a href="#">Contacta'ns</a></li>
    <li class="login">
        {% if user.is_authenticated %}
            <p>Benvingut: {{ user.username }} |
                <a class="link" href="{% url 'logout' %}">logout</a></p>
        {% else %}
            <p><a class="link" href="{% url 'login' %}">login</a></p>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <p>
    <h4>Prioritat: {{ new.priority }}</h4>
    <h1>{{ new.title }}</h1>
    <h4>{{ new.description }}</h4><br/>
    {{ new.body }}
    </p>

    <hr/>
    <h3>Descargar l'article:<a href="{{ article.file.url }}" download> {{ article.file.name }} </a></h3>
    <p>
        <form action="{% url 'Acceptat' %}" method="post" enctype="multipart/form-data"
              style="display: inline">{% csrf_token %}
            {% if images %}
                {% for img in images %}

                    <div style="display: inline-table;">
                        {% csrf_token %}
                        <a href="{{ img.image.url }} ">
                            <img src="{{ img.image.url }}" width="200" height="200"/>
                        </a>

                        <br>
                        <input type="checkbox" name="selected_image" value={{ img.pk }}>
                        <b>{{ img.name }}</b>

                    </div>

                {% endfor %}

            {% else %}
                <p>No hi ha imatges associades.</p>
            {% endif %}
    <hr/>

        <input type="hidden" name="slug" value={{ new.slug }}/>

    <input type="submit" value="Acceptar">
    </form>



    <form action="{% url 'Rebutjada' %}" method="post" style="display: inline"> {% csrf_token %}
        <input type="hidden" name="slug" value={{ new.slug }}/>
        <input type="submit" value="Rebutjar">
    </form>


    <a href="/AFE/new/{{ new.slug }}">
        <button type="button">Reassignar</button>
    </a>
    </p>



    <h4>Introdueix els comentaris pel redactor:</h4>
    <form action="{% url 'Comentat' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="slug" value="{{ new.slug }}"/>
        <button type="submit">Enviar comentaris al redactor</button>
    </form>



{% endblock %}
{% block sidebar %}
    <li><a href="{% url 'AFE' %}">Noves notícies</a></li>
    <li><a href="{% url 'Articles' %}" class="current">Article a revisar</a></li>
    <li><a href="{% url 'work_load' %}">Càrrega de treball</a></li>

{% endblock %}