{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles pendents de validació</title>
</head>
<body>
{% block content %}
    <h1>Articles pendents de validació</h1>

    {% if articles %}
        <ul>

            {% for article in articles %}
                {% if article.priority == "alta" %}
                    <h4><a href="/Redactor/assigned/{{ article.slug }}">{{ article.title }}</a></h4>
                    <ul>
                        {{ article.description }}
                    </ul>

                    <ul>
                        <h4> Prioritat: {{ article.priority }} </h4>
                    </ul>
                {% endif %}
            {% endfor %}
            {% for article in articles %}
                {% if article.priority == "mitjana" %}
                    <h4><a href="/Redactor/assigned/{{ article.slug }}">{{ article.title }}</a></h4>
                    <ul>
                        {{ article.description }}
                    </ul>
                    <ul>
                        <h4> Prioritat: {{ article.priority }} </h4>
                    </ul>
                {% endif %}
            {% endfor %}
            {% for article in articles %}
                {% if article.priority == "baixa" %}
                    <h4><a href="/Redactor/assigned/{{ article.slug }}">{{ article.title }}</a></h4>
                    <ul>
                        {{ article.description }}
                    </ul>
                    <ul>
                        <h4> Prioritat: {{ article.priority }} </h4>
                    </ul>
                {% endif %}
            {% endfor %}

        </ul>

    {% else %}
        <p>No hi ha articles a validar.</p>
    {% endif %}

{% endblock %}
</body>
</html>