{% extends "base.html" %}

{% block navbar %}
    <li><a href="{% url 'account-redirect' %}">El meu espai de treball</a></li>
    <li><a href="{% url 'Home_News' %}">Noticies</a></li>
    <li><a href="#">Contacta'ns</a></li>
    <li class="login">
        {% if user.is_authenticated %}
            <p>Benvingut: {{ user.username }} |
                <a class="link" href="{% url 'logout' %}">logout</a></p>
        {% else %}
            <p><a class="link" href="{% url 'login' %}">login</a></p>
        {% endif %}
    </li>
{% endblock %}

{% block content %}

    <h2>Càrrega de treball dels redactors</h2>

    {% if assigned_news %}
        <ul>

            {% for cw in copywriters %}
                <p>Redactor: {{ cw.user.username }}</p>
                {% for new in assigned_news %}

                    {% if new.assigned == cw.user.username %}
                        <ul>
                            <p>
                                {{ new.title }} - Prioritat: {{ new.priority }}
                            </p>
                        </ul>


                    {% endif %}
                {% endfor %}
                <br>
            {% endfor %}

        </ul>

    {% else %}
        <p> Els redactors no tenen cap notícia assignada.</p>

    {% endif %}




{% endblock %}

{% block sidebar %}
    <li><a href="{% url 'AFE' %}">Noves notícies</a></li>
    <li><a href="{% url 'Articles' %}">Article a revisar</a></li>
    <li><a href="{% url 'work_load' %}" class="current">Càrrega de treball</a></li>
{% endblock %}

