behave==1.2.6
certifi==2022.12.7
Django==2.0.12
parse==1.8.2
parse-type==0.4.2
Pillow==5.1.0
pipenv==11.10.0
pytz==2018.3
selenium==3.12.0
six==1.11.0
splinter==0.8.0
virtualenv==15.2.0
virtualenv-clone==0.3.0
