{% extends "base.html" %}

{% block navbar %}
    <li><a href="{% url 'account-redirect' %}">El meu espai de treball</a></li>
    <li><a href="{% url 'Home_News' %}">Noticies</a></li>
    <li><a href="#">Contacta'ns</a></li>
    <li class="login">
        {% if user.is_authenticated %}
            <p>Benvingut: {{ user.username }} |
                <a class="link" href="{% url 'logout' %}">logout</a></p>
        {% else %}
            <p><a class="link" href="{% url 'login' %}">login</a></p>
        {% endif %}
    </li>
{% endblock %}

{% block content %}

    <h4>Prioritat: {{ new.priority }}</h4>
    <h1>{{ new.title }}</h1>



        <h3>Descarrega l'article:<a href="{{ article.file.url }}" download> {{ article.file.name }} </a></h3>
    </h3>


    <form action ="/Maquetador/preview/{{ new.slug }}/" method="post" >{% csrf_token %}
        <p><textarea name="title" rows="1" cols="40"
                      placeholder=" Introdueix el titol"></textarea></p>
        <p><textarea name="description" rows="1" cols="40"
                      placeholder=" Introdueix la descripcio"></textarea><p>
        <p><textarea name="body" rows="10" cols="40"
                      placeholder=" Introdueix el cos"></textarea><p>
        <input type="hidden" name="slug" value="{{ new.slug }}"/>
        <p><button type="submit">Previsualitza l'article</button></p>

        </form>

{% endblock %}



{% block sidebar %}
    <li><a href="{% url 'ld_assigned_news' %}">Articles a maquetar</a></li>

{% endblock %}