{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}  El Juernes {% endblock %}
        </title>
        <!--Meta information-->
        {% block head-meta %}
            <meta charset="utf-8">
            <meta name="description" content="{% block metadescription %}{% endblock metadescription %}">
            <meta name="keywords" content="{% block metakeywords%}{% endblock metakeywords %}">
        {% endblock %}

        <!--Add additional CSS in static file-->
        {% load staticfiles %}

        <!-- Bootstrap -->

        <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/sb-admin.css' %}" rel="stylesheet">

        <!--link href="{% static 'bootstrap/css/sb-admin.min.css' %}" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!----jQuery desplegables--->

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <script>
            // jQuery articles per prioritat- Redactor

            // prioritat alta
            $(document).ready(function(){
               $('#pr_alta').on('click',function(){
                  $('#alta').toggle();
               });
            });

            //prioritat mitjana
            $(document).ready(function(){
               $('#pr_mitjana').on('click',function(){
                  $('#mitjana').toggle();
               });
            });

            //prioritat baixa
            $(document).ready(function(){
               $('#pr_baixa').on('click',function(){
                  $('#baixa').toggle();
               });
            });


        </script>

    </head>
    <body id="page-top" class="fixed-nav sticky-footer">

        <!--Navigation-->
        <nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

            <a class="navbar-brand" href="{% url 'account-redirect' %}"><h2>EL JUERNES</h2></a>

            <div id="navbarResponsive" class="collapse navbar-collapse">
            <!--Sidebar-->
                <ul id="exampleAccordion" class="navbar-nav navbar-sidenav">
                    {% block sidebar %}

                    {% endblock %}
                </ul>
                <ul class="navbar-nav sidenav-toogler">
                    <li class="nav-item">
                        <a id="sidenavToggler" class="nav-link text-center">

                        </a>
                    </li>
                </ul>
            <!---Navbar-->
                <ul class="navbar-nav ml-auto">
                    {% block navbar %}

                    {% endblock %}
                </ul>
            </div>
        </nav>

        <!--Contingut-->
        <div class="content-wrapper">
            <div class="container-fluid">
                {% block breadcrumb %}{% endblock %}

                {% block content %}{% endblock %}
            </div>
        </div>
        <!--Footer-->
        <footer class=sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>© 2018. An University of Lleida project by GR-5 Joint Project</small>
                </div>
            </div>
        </footer>
    </body>
</html>