{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'Home_News' %}" class="current">Noticies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Contacta'ns</a>
    </li>
    <li class="nav-item">
        {% if user.is_authenticated %}
        <p class="nav-link" data-toggle="modal" data-target="#exampleModal">Benvingut: {{ user.username }} |
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'logout' %}">Logout</a>
            </li>
        </p>
        {% else %}
            <p><a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </li>
{% endblock %}

{% block content %}

        <h1>{{ title }}</h1>
            <h3>{{ description }}</h3>

        {% if user.is_authenticated %}

                <p>{{ firstparagraph }}</p>

                {% if image1 %}
                <div>
                        <img src="{{ image1.image.url }}" width="200" height="200"/>

                </div>
                {% endif %}

                {% if secondparagraph %}
                    <p>{{ secondparagraph }}</p>
                {% endif %}

                {% if image2 %}
                <div>
                    <img src="{{ image2.image.url }}" width="200" height="200"/>

                </div>
                {% endif %}

                {% if thirdparagraph %}
                    <p>{{ thirdparagraph }}</p>
                {% endif %}
        {% else %}

            {{ firstparagraph1 }}
            <h2>Per a llegir la resta de l'article autentifica't o crea una nova subscripció...</h2>

        {% endif %}

{% endblock %}




