{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notícies assignades</title>
</head>
<body>
{% block content %}
    <h1>Notícies assignades</h1>

    {% if articles_alta or articles_mitjana or articles_baixa %}

        {% if articles_alta %}
            <h3>Prioritat: Alta</h3>
            {% for article in articles_alta %}
                    <ul>
                        <h4><a href="assigned/{{ article.slug }}">{{ article.title }}</a></h4>
                    </ul>
                {{ article.description }}
            {% endfor %}
        {% endif %}

        {% if articles_mitjana %}
            <h3>Prioritat: Mitjana</h3>
            {% for article in articles_mitjana %}
                    <ul>
                        <h4><a href="assigned/{{ article.slug }}">{{ article.title }}</a></h4>
                    </ul>
                {{ article.description }}
            {% endfor %}
        {% endif %}

        {% if articles_baixa %}
            <h3>Prioritat:Baixa</h3>
            {% for article in articles_baixa %}
                    <ul>
                        <h4><a href="assigned/{{ article.slug }}">{{ article.title }}</a></h4>
                    </ul>
                {{ article.description }}
            {% endfor %}
        {% endif %}

    {% else %}

        <p>No s'ha assignat cap notícia.</p>

    {% endif %}

{% endblock %}
</body>
</html>