{% extends "base.html" %}

{% block navbar %}
    <li><a href="{% url 'account-redirect' %}" class="">Home</a></li>
    <li><a href="{% url 'Home_News' %}">News</a></li>
    <li><a href="#">Contact with us</a></li>
    <li class="login">
        {% if user.is_authenticated %}
            <p>Benvingut: {{ user.username }} |
                <a class="link" href="{% url 'logout' %}">logout</a></p>
        {% else %}
            <p><a class="link" href="{% url 'login' %}">login</a></p>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <h2>L'article s'ha enviat correctament</h2>

    <h3>Article:<a href="{{ article.file.url }}"> {{ article.file.name }} </a></h3>
    <input class="button" type="button" value="Tornar a les notícies assignades"
           onclick="location.href='{% url 'assigned' %}'"/>
    &nbsp
    <input class="button" type="button" value="Reenviar l'article"
           onclick="location.href='http://127.0.0.1:8000/Redactor/assigned/{{ new.slug }}'"/>
{% endblock %}

{% block sidebar %}
    <li><a href="{% url 'assigned' %}" class="current">Noticies assignades</a></li>
    <li><a href="{% url 'revisions' %}">Notícies a revisar</a></li>
{% endblock %}
