{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'account-redirect' %}" class="current">El meu espai de treball</a></li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'Home_News' %}">Noticies</a></li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Contacta'ns</a></li>
    <li class="nav-item">
        {% if user.is_authenticated %}
        <p class="nav-link" data-toggle="modal" data-target="#exampleModal">Benvingut: {{ user.username }} |
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'logout' %}">logout</a>
            </li>
        </p>
        {% else %}
            <p><a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'login' %}">login</a></p>
        {% endif %}


{% endblock %}

{% block content %}
    <h2>Redactor</h2>

    <h3>Numero de notícies assignades: {{ num_assigned_news }} </h3>

    <h3>Notícies urgents d'entregar</h3>

    {% if assigned_news %}
        <ul>
            {% for new in assigned_news %}
                <p>
                    {{ new.title }} - {{ new.countdown }}
                </p>
            {% endfor %}
        </ul>

    {% else %}
        <p> No tens cap notícia assignada.</p>

    {% endif %}
{% endblock %}

{% block sidebar %}
    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="" data-original-title="Noticies assignades">
        <a class="nav-link" href="{% url 'assigned' %}">
            <span class="nav-link-text">Noticies assignades</span>
        </a>
    </li>
    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="" data-original-title="Notícies a revisar">
        <a class="nav-link" href="{% url 'revisions' %}">
           <span class="nav-link-text">Noticies a revisar</span>
        </a>
    </li>
{% endblock %}
