{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'account-redirect' %}" class="current">El meu espai de treball</a></li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'Home_News' %}">Noticies</a></li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Contacta'ns</a></li>
    <li class="nav-item">
        {% if user.is_authenticated %}
        <p class="nav-link" data-toggle="modal" data-target="#exampleModal">Benvingut: {{ user.username }} |
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'logout' %}">logout
                    <i class="fa fa-fw fa-sign-out"></i>
                </a>
            </li>
        </p>
        {% else %}
            <p><a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'login' %}">login</a></p>
        {% endif %}
    </li>

{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'assigned' %}">Noticies assignades</a> /  <a href="#">Article</a>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <p>
    <h4>Prioritat: {{ new.priority }}</h4>
    <h1>{{ new.title }}</h1>
    <h4>{{ new.description }}</h4><br/>
    {{ new.body }}
    </p>



    <h3>Petició d'imatges</h3>

    {% if image_request is None %}


        <form action="/Redactor/request_send/" method="post"> {% csrf_token %}
            <textarea name="body" rows="10" cols="40"
                      placeholder=" Escriu un comentari al Reporter Gràfic (Opcional)"></textarea>
            <input type="submit" value="Demanar Imatges">
            <br>
            <input type="hidden" name="slug" value="{{ new.slug }}"/>
        </form>


    {% else %}
        <form action="/Redactor/send_article/" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if images %}
            {% for img in images %}

                <div style="display: inline-table;">
                    {% csrf_token %}
                    <a href="{{ img.image.url }} ">
                        <img src="{{ img.image.url }}" width="200" height="200"/>
                    </a>

                    <br>
                    <input type="checkbox" name="selected_image" value={{ img.pk }}>
                    <b>{{ img.name }}</b>

                </div>

            {% endfor %}

        {% else %}
            <p>Ja s'ha fet la petició. Encara no s'ha rebut cap imatge.</p>
        {% endif %}

    {% endif %}


<h3>Entrega l'article</h3>
        {{ form.as_p }}
        <input type="hidden" name="slug" value="{{ new.slug }}"/>
        <button type="submit">Enviar</button>
    </form>
    </body>

{% endblock %}
{% block sidebar %}
    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="" data-original-title="Noticies assignades">
        <a class="nav-link" href="{% url 'assigned' %}">
            <span class="nav-link-text">Noticies assignades</span>
        </a>
    </li>
    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="" data-original-title="Notícies a revisar">
        <a class="nav-link" href="{% url 'revisions' %}">
           <span class="nav-link-text">Noticies a revisar</span>
        </a>
    </li>
{% endblock %}
