
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>El Juernes</title>

</head>
<body>
<div class="login"
     style="margin: 250px auto;
             width: 600px;
             padding: 30px 25px;
             background-color: #57b846;
             border: 1px solid #c4c4c4;
             border-radius: 20px;                           ">
            <span class="log1" style="text-align: center;
                 font-family: Arial;
                 color: white;                                           ">
                <h1 class="title" style="font-family: Arial"> El Juernes</h1>

                <h2 class="subtitle">Inici de sessió:</h2>
            </span>
    <form method="post" style="text-align: center; ">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
                style="color: black;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 20px;
                        width: 100%;
                        height: 50px;
                        background-color: darkslategrey;
                        border-radius: 25px;
                        font-family: Ubuntu-Bold;
                        font-size: 15px;
                        color: #fff;
                        line-height: 1.2;
                        text-transform: uppercase;
                        -webkit-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        transition: all 0.4s;">Inicia sessió
        </button>
    </form>
</div>
<footer style="
            text-align: center;
            background: #f3f3f3;
            margin-top: 3rem;
            padding: 1rem 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            ">
    <a class="footer-page">El Juernes</a>
    <span class="attribution">
               <p> © 2018. An University of Lleida project by GR-5 Join Project</p>
    </span>
</footer>
</body>
</html>