{% extends "base.html" %}

{% block navbar %}
    <li><a href="{% url 'account-redirect' %}">Home</a></li>
    <li><a href="{% url 'Home_News' %}">News</a></li>
    <li><a href="#">Contact with us</a></li>
    <li class="login">
        {% if user.is_authenticated %}
        <p>Benvingut: {{ user.username }} |
            <a class="link" href="{% url 'logout' %}">logout</a></p>
        {% else %}
        <p><a class="link" href="{% url 'login' %}">login</a></p>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <h2>Afe News List</h2>

    {% if articles %}
        <ul>

            {% for article in articles %}
                <h4><a href="/AFE/new/{{ article.slug }}">{{ article.title }}</a></h4>
                <ul>
                    {{ article.description }}
                </ul>



            {% endfor %}

        </ul>

    {% else %}
        <p>No hi ha noves notícies.</p>
    {% endif %}

{% endblock %}

{% block sidebar %}
    <li><a href="{% url 'AFE' %}" class="current">Noves notícies</a></li>
    <li><a href="{% url 'Articles' %}">Article a revisar</a></li>
{% endblock %}