{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Afe News List</title>
</head>

<body>

{% block content %}
    <h1>Afe News List</h1>

    {% if articles %}
        <ul>

            {% for article in articles %}
                <h4><a href="/AFE/new/{{ article.slug }}">{{ article.title }}</a></h4>
                <ul>
                    {{ article.description }}
                </ul>



            {% endfor %}

        </ul>

    {% else %}
        <p>No hi ha noves notícies.</p>
    {% endif %}

{% endblock %}

</body>


</html>