{% extends "base.html" %}
{% block content %}

    <p>
    <h4>Redactor assignat: {{ new.assigned}}</h4>
    <h4>Prioritat: {{ new.priority}}</h4>
    <h1>{{ new.title }}</h1>
    <h4>{{ new.description }}</h4><br/>
    {{ new.body }}
    </p>

    <h3>
        <form action="/AFE/" method="post"> {% csrf_token %}
            <h4> Assignació de Noticia: </h4>
            <p>
            <label for="team_name"> Redactor: </label>
            <select name="copywriters">
                {% for redactor in redactors %}
                    <option value={{ redactor.user }}>{{ redactor.user }}</option>
                {% endfor %}
            </select>
            <label for="team_name"> Prioritat </label>
            <select name="priority">
                    <option value="alta">Alta</option>
                    <option value="mitjana">Mitjana</option>
                    <option value="baixa">Baixa</option>
            </select>
            <input type="submit" value="Assignar">
            <input type="hidden" name="new" value={{ new.slug }}/>
        </form>
    </h3>
{% endblock %}
{% block sidebar %}
    <li><a href="{% url 'AFE' %}">Noves notícies</a></li>
    <li><a href="{% url 'Articles' %}">Article a revisar</a></li>
{% endblock %}