{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imatge editada correctament</title>
</head>

<body>
{% block content %}
    <h2>La imatge s'ha editat correctament</h2>
    <div class="sidebar">

        {% block tasks %}
            <ul class="sidebar-nav">
                <li><a href="{% url 'gr_assigned_news' %}">Notícies assignades</a></li>
                <li><a href="{% url 'gr_image_bank' %}">Banc d'imatges</a></li>

            </ul>
        {% endblock %}

    </div>

    <input class="button" type="button" value="Tornar al banc d'imatges"
           onclick="location.href='{% url 'gr_image_bank' %}'"/>
{% endblock %}
</body>

</html>