{% extends "base.html" %}

{% block navbar %}
    <li><a href="{% url 'account-redirect' %}">El meu espai de treball</a></li>
    <li><a href="{% url 'Home_News' %}">Noticies</a></li>
    <li><a href="#">Contacta'ns</a></li>
    <li class="login">
        {% if user.is_authenticated %}
        <p>Benvingut: {{ user.username }} |
            <a class="link" href="{% url 'logout' %}">logout</a></p>
        {% else %}
        <p><a class="link" href="{% url 'login' %}">login</a></p>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <h2>La imatge s'ha editat correctament</h2>

    <input class="button" type="button" value="Tornar al banc d'imatges"
           onclick="location.href='{% url 'gr_image_bank' %}'"/>
{% endblock %}

{% block sidebar %}
    <li><a href="{% url 'gr_assigned_news' %}">Notícies assignades</a></li>
    <li><a href="{% url 'gr_image_bank' %}" class="current">Banc d'imatges</a></li>
{% endblock %}
