{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'account-redirect' %}">El meu espai de treball</a></li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'Home_News' %}">Noticies</a></li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Contacta'ns</a></li>
    <li class="nav-item">
        {% if user.is_authenticated %}
        <p class="nav-link" data-toggle="modal" data-target="#exampleModal">Benvingut: {{ user.username }} |
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'logout' %}">Logout
                    <i class="fa fa-fw fa-sign-out"></i>
                </a>
            </li>
        </p>
        {% else %}
            <p><a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </li>

{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'gr_image_bank' %}">Banc d'imatges</a>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Banc d'imatges</h2>

    <input class="button" type="button" value="Pujar imatges"
           onclick="location.href='{% url 'gr_upload_image' %}'"/>

    <hr>
    <p>Cercar imatges: </p>

    <form action="" method="post">
        {% csrf_token %}
        {{ search_images_form.as_p }}
        <input type="submit" value="Cercar"/>
    </form>

    <br>
    {% if images %}
        {% for img in images %}

            <a href="{% url 'gr_edit_image' pk=img.pk %}">
                <img src="{{ img.image.url }}" width="200" height="200"/>
            </a>

        {% endfor %}
    {% else %}
        <p>No hi ha imatges disponibles.</p>
    {% endif %}

{% endblock %}

{% block sidebar %}
    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="" data-original-title="Noticies assignades">
        <a class="nav-link" href="{% url 'gr_assigned_news' %}">
            <span class="nav-link-text">Noticies assignades</span>
        </a>
    </li>
    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="" data-original-title="Banc d'imatges">
        <a class="nav-link" href="{% url 'gr_image_bank' %}">
           <span class="nav-link-text">Banc d'imatges</span>
        </a>
    </li>
{% endblock %}