{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'Home_News' %}">Noticies</a></li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Contacta'ns</a></li>
    <li class="nav-item">
        {% if user.is_authenticated %}
        <p class="nav-link" data-toggle="modal" data-target="#exampleModal">Benvingut: {{ user.username }} |
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'logout' %}">Logout
                    <i class="fa fa-fw fa-sign-out"></i>
                </a>
            </li>
        </p>
        {% else %}
            <p><a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </li>

{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'gr_assigned_news' %}">Noticies assignades</a> / <a href="">Noticia</a> / <a href="">Seleccionar imatges</a>
        </li>
    </ol>
{% endblock %}}

{% block content %}
    <h2>Notícia</h2>

    <p>Imatges a enviar: </p>
    {% if images_to_send %}
        {% for img in images_to_send %}

            <form action="" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="eliminated_image" value={{ img.pk }}>
                <input type="image" name="image" src="{{ img.image.url }}" width="200" height="200"/>
            </form>

        {% endfor %}

        <br>
        <input class="button" type="button" value="Enviar imatges"
               onclick="location.href='{% url 'gr_correct_send_images' pk=image_request.pk %}'"/>

    {% else %}
        <ul>
            <p>No s'ha seleccionat cap imatge.</p>
        </ul>
    {% endif %}
    <hr>



    <p>Cercar imatges: </p>

    <form action="" method="post">
        {% csrf_token %}
        {{ search_images_form.as_p }}
        <input type="submit" value="Cercar"/>
    </form>

    <br>
    {% if images %}

        {% for img in images %}
            <form action="" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="selected_image" value={{ img.pk }}>
                <input type="image" name="image" src="{{ img.image.url }}" width="200" height="200"/>
            </form>

        {% endfor %}


    {% else %}
        <p>No hi ha imatges disponibles.</p>
    {% endif %}


{% endblock %}

{% block sidebar %}
    <li class="nav-item" data-toggle="modal" data-placement="right" title="">
        <a class="nav-link"  href="{% url 'account-redirect' %}">
            <span class="nav-link-text">El meu espai de treball</span>
        </a>
    </li>
    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="" data-original-title="Noticies assignades">
        <a class="nav-link" href="{% url 'gr_assigned_news' %}">
            <span class="nav-link-text">Noticies assignades</span>
        </a>
    </li>
    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="" data-original-title="Banc d'imatges">
        <a class="nav-link" href="{% url 'gr_image_bank' %}">
           <span class="nav-link-text">Banc d'imatges</span>
        </a>
    </li>
{% endblock %}