{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pujar imatge</title>
</head>

<body>
{% block content %}
    <h2>Pujar imatge</h2>

    <div class="sidebar">

        {% block tasks %}
            <ul class="sidebar-nav">
                <li><a href="{% url 'gr_assigned_news' %}">Notícies assignades</a></li>
                <li><a href="{% url 'gr_image_bank' %}">Banc d'imatges</a></li>

            </ul>
        {% endblock %}

    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ upload_image_form.as_p }}
        <button type="submit">Pujar</button>
    </form>

{% endblock %}
</body>

</html>